/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

section {
    margin: 20px;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#books-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-entry {
    background: #fff;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    width: calc(33% - 20px);
    box-sizing: border-box;
}

.book-entry img {
    margin-right: 10px;
    border-radius: 5px;
    max-width: 100px;
    max-height: 150px;
}
